<%inherit file="/homepage/templates/base.htm" />
<%! from catalog import models as cmod %>

<%block name = "leftcol">

</%block>

<%block name = "content">
<h2>${product.name}, ${product.id}</h2>
<a href = "/catalog/index">Index</a>

 %for p in last5prod:
  <h1>${p.name}</h1>
 %endfor
</%block>
