<%inherit file="app_base.htm"/>
<%! from catalog import models as cmod %>
<%block name="css">

</%block>
<%block name = "left">

</%block>

<%block name = "content">
<h2>${product.name}, ${product.id}</h2>
<a href = "/catalog/index">back to catalog</a>

 %for p in last5prod:
  <h1>${p.name}</h1>
 %endfor
</%block>
